# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Backup files
*.bak

# Virtual environments
venv/
env/
ENV/
virtual_env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
