{% extends "base.html" %}
{% load static %}

{% block title %}My Leaves{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

{% endblock %}

{% block header %}
    <h1>Dashboard</h1>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">&#9776;</label>

    <nav class="nav-links">
    <a href="{% url 'apply_leave' %}">Apply Leave</a>
    <a href="{% url 'my_leave' %}">My Leaves</a>
    </nav>

    <div class="profile-dropdown">
        <input type="checkbox" id="profile-toggle">
        <label for="profile-toggle" class="profile-icon">
            {% comment %} <img src="{{ request.user.profile.profile_photo.url }}"> {% endcomment %}
            {% if request.user.profile.profile_photo %}
                <img src="{{ request.user.profile.profile_photo.url }}">
            {% else %}
                <img src="{% static 'images\user.jpg' %}">
            {% endif %}
        </label>

        {% comment %} 
        <div class="dropdown-content">
            <div class="user-info">
                <img src="{% static 'images/user.jpg' %}">
                <p><a href="{% url 'profile' %}">Anurag Singh</a></p>
            </div>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div> 
        {% endcomment %}

        <div class="dropdown-content">
            <div class="user-info">
                {% comment %} <center><img src="{{ request.user.profile.profile_photo.url }}"></center> {% endcomment %}

                <center>
                    {% if request.user.profile.profile_photo %}
                        <img src="{{ request.user.profile.profile_photo.url }}">
                    {% else %}
                        <img src="{% static 'images\user.jpg' %}">
                    {% endif %}
                </center>
                <center><p><a href="{% url 'profile' %}"> {{ request.user.get_full_name }} </a></p><center>
            </div>

            <a href="{% url 'logout' %}" class="logout-btn">⏻ Logout</a>
        </div>
    </div>
{% endblock %}

{% block content %}
<main>
    <div class="container">

        <!-- Welcome Card -->
        <div class="card welcome">
            <h2>Welcome 👋</h2>
            <p>Manage your leave requests easily using the options below.</p>
        </div>

        <!-- Stats Cards -->
        <div class="card">
            <h3>Total Leaves</h3>
            <p class="count">{{ total_leaves }}</p>
        </div>

        <div class="card">
            <h3>Leaves Used</h3>
            <p class="count">{{ leaves_used }}</p>
        </div>

        <div class="card {% if low_balance %}low-balance{% endif %}">

            <h3>Leaves Remaining</h3>
            
            <p class="count">{{ leaves_remaining }}</p>

            {% if low_balance %}
                <center> <span class="warning-text">⚠ Low leave balance</span> </center>
            {% endif %}

        </div>


        <div class="card" >
            <h3>Leave Breakdown</h3>
            <p>Sick Leave Taken/Used: {{ balance.sick_used }}</p>
            <p>Paid Leave Taken/Used: {{ balance.earned_used }}</p>
            <p>Unpaid Leave Taken: {{ balance.unpaid }}</p>
        </div>

        <div class="card {% if pending_count > -1 %} pending-count {% endif %}"> 
            <h3> Pending Requests  </h3>

            {% if pending_count > -1 %}
               <center> <span class="badge warning">{{ pending_count }}</span> </center>
               <center> <span class="warning-text">⚠ Too much pending request</span> </center>
            {% else %}
               <center> <span class="badge success">0</span> </center>
            {% endif %}
            
        </div>

        <div class="card">
            <h3>Next Upcoming Leave</h3>

                {% if next_leave %}
                    <p><strong>{{ next_leave.leave_type }}</strong></p>
                    <p>{{ next_leave.from_date }} → {{ next_leave.to_date }}</p>
                    <p class="{{ next_leave.status|lower }}">{{ next_leave.status }}</p>

                {% else %}
                    <p>No upcoming leaves</p>
                {% endif %}
        </div>



        <!-- Recent Requests -->
        <div class="card full-width">
            <h3>Recent Leave Requests</h3>

            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    {% for leave in recent_leaves %}
                        <tr>
                            <td>{{ leave.leave_type }}</td>
                            <td>{{ leave.from_date }}</td>
                            <td>{{ leave.to_date }}</td>
                            <td class="{{ leave.status|lower }}">{{ leave.status }}</td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="4">No leave requests yet</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

</main>

{% endblock %}