{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Select Login Type</title>
    <link rel="stylesheet" href="{% static 'css/role_select.css' %}">
</head>
<body>

<div class="role-container">
    <h1>Leave Management System</h1>
    <p>Select your login type</p>

    <div class="role-options">
       <a href="{% url 'employee_login' %}" class="role-card employee">
            👨‍💼
            <h2>Employee</h2>
            <p>Apply and manage your leaves</p>
        </a>

        <a href="{% url 'hr_login' %}" class="role-card hr">
            🧑‍💻
            <h2>HR</h2>
            <p>Approve & manage employee leaves</p>
        </a>

        <a href="{% url 'admin_login' %}" class="role-card admin">
            🛡
            <h2>Admin</h2>
            <p>System management & control</p>
        </a>
    </div>
</div>

</body>
</html>
